.nav-bar{
    display: flex;
    justify-content: space-between;
    
    border: 5px black;
}
.navbar ul li{
    display: block;
    padding: 15px;
    color: black;
    background-color: white;
}
.logo{
    justify-self: center;
    align-self: center;
}
.navbar-list{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.navbar-item{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    align-self: center;
    text-align: center;
    font-size: large;
    font-weight: 400;
}
.navbar-item::before{
    content: "";
    position:absolute;
    left:0;
    bottom: 5px;
    height: 2px;
    width: 0px;
    transition: width 0.2s ease-in-out;
    background-color: black;
}
.navbar-item:hover{
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.navbar-item:hover::before{
    width:100%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.5);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s ease;
}
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}
  

.side-item{
    margin: 15px;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}
.search-bar{
    display: flex;
    justify-self: center;
    align-self: center;
}
.search-bar input[type='text']{
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
}
