*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
    text-decoration: none;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
}