{% extends "base.html" %}

{% block content %}
<div>
    {% if message != None %}
        <div>{{ message.text }}</div>
    {% endif %}

    <div class="container d-flex justify-content-center">
        <div class="card ml-8 w-100 p-3">
            <div class="card-header">
              <h3 class="text-center">PRESCRIPTION HOME PAGE</h3> 
            </div>
            <div class="card-body">
                <div class="container d-flex justify-content-between">
                    {% if request.user.role == 'doctor' %}
                    <a href="{% url 'prescribing_management:prescription_create' %}" class="btn btn-primary">Create new prescription</a>
                    {% endif %}
                    <!-- <form action="{% url 'prescribing_management:prescription_index' %}" >
                        <input type="text" class="" size="" name="q" id="q" placeholder="search prescription" value="{{request.GET.q}}">
                        <button type="submit" class="btn btn-primary btn-sm">search</button>
                    </form> -->
                    <form action="{% url 'prescribing_management:prescription_index' %}">
                        <label for="search"></label>
                        <input type="text" name="q" id="q" size="10" style="border: 0; border-bottom: 1px solid black; outline: 0;" placeholder="search prescription" value="{{request.GET.q}}">
                        <button type="submit" class="btn btn-black btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                        </button>
                    </form>
                </div>
                
                <table class="table">
                    <thead>
                        <th>ID</th>
                        <th>Diagnosis</th>
                        <th>Patient</th>
                        <th>Modified time</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for pre in page_obj %}
                            <tr id="prescription{{pre.id}}">
                                <td> <a href="{% url 'prescribing_management:prescription_detail' pre.id %}">{{ pre.id }}</a> </td>
                                <td> <a href="{% url 'prescribing_management:prescription_detail' pre.id %}">{{ pre.diagnosis }}</a> </td>
                                <td> <a href="{% url 'prescribing_management:prescription_detail' pre.id %}">{{ pre.patient }}</a> </td>
                                <td> {{pre.modified_at|date:"d/m/Y H:i:s"}}</a> </td>
                                <td>
                                    <a href="{% url 'prescribing_management:prescription_detail' pre.id %}" class="btn btn-info btn-link">
                                        <i class="fa-solid fa-circle-info"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Detail"></i>
                                    </a>
                                    <a href="{% url 'prescribing_management:prescription_edit' pre.id %}" class="btn btn-primary btn-link">
                                        <i class="fa-solid fa-pen-to-square"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Edit"></i>
                                        
                                    </a>
                                    
                                    <a href="" class="btn btn-link" data-bs-toggle="modal" onclick="deleteData('{{ pre.id }}')">
                                        <i class="fa-solid fa-trash"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Delete" ></i>
                                        
                                    </a>
                                </td>
                            </tr>
                            
                        {% endfor %}
                    </tbody>
                    <tfoot class="row">
                        
                        
                    </tfoot>
                    
                </table>
                <nav aria-label="Prescription pagination">
                    <ul class="pagination justify-content-center">
                        
                        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">                        
                            <a class="page-link" 
                            {% if page_obj.has_previous %}
                            href=
                                {% if not request.GET.q %}
                                "?page={{page_obj.previous_page_number }}"
                                {% else %}
                                "?q={{request.GET.q}}&page={{page_obj.previous_page_number }}"
                                {% endif %}
                            {% endif %}
                            >Previous</a>                        
                        </li>
                        {% for i in page_obj.paginator.page_range %}
                            
                            <li class="page-item {% if i == page_obj.number %} active {% endif %}">
                                <a class="page-link" href=
                                    {% if not request.GET.q %}
                                    "?page={{ i }}"
                                    {% else %}
                                    "?q={{request.GET.q}}&page={{i}}"
                                    {% endif %}
                                    >
                                {{ i }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                            
                            <a class="page-link" 
                            {% if page_obj.has_next %}
                            href=
                                {% if not request.GET.q %}
                                "?page={{page_obj.next_page_number }}"
                                {% else %}
                                "?q={{request.GET.q}}&page={{page_obj.next_page_number }}"
                                {% endif %}
                            {% endif %}
                            >Next</a>
                            
                        </li>
                    </ul>
                </nav>

                <div class="modal" id="deleteConfirmation" tabindex="-1">
                    <div class="modal-dialog">
                    <form class="modal-content" id="delete-form" method="post">
                        <div class="modal-header">
                        <h5 class="modal-title">Delete confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <input type="hidden" name="pk" id="delete-prescription-id">
                            <p>Are you sure to delete this item?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                    </div>
                </div>
                
                <div id="info-space"></div>
            </div>
        </div>
    </div>

</div>


  
{% endblock %}
{% block script %}
    <script>
        const fetchingData = id =>{
            fetch(id)
            .then(res =>{
                if (res.status == 200) 
                    return res.text()
                throw new Error('Not found', {cause: response})
            } )
            .then(data=>{
                medicineDiv = document.getElementById('medicine'+id)
                medicineDiv.insertAdjacentHTML("afterend", data);

                // info = document.getElementById('info-space')
                // info.innerHTML = data
            })
            .catch(err =>
            console.log(err))
            
        }
        const deleteData = id => {
            const deleteConfirmation = document.getElementById("deleteConfirmation")
            var myModal = new bootstrap.Modal(deleteConfirmation)
            myModal.toggle()
            idInput = document.getElementById('delete-form')
            idInput.action = "{% url 'prescribing_management:prescription_delete' 0%}".replace(0, id)

        }
    </script>
{% endblock %}