{% extends 'base.html' %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card ml-8 w-100 p-3">
            <div class="card-header">
                <h3 class="text-center">CREDIT INFORMATION</h3> 
            </div>
        </div>
        <div class = 'card-body'>
            <p>Card number: {{payment.card_detail.card_number}}</p>
            <p>Name: {{payment.card_detail.name}}</p>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        const deleteData = id => {
            const deleteConfirmation = document.getElementById("deleteConfirmation")
            var myModal = new bootstrap.Modal(deleteConfirmation)
            myModal.toggle()
            idInput = document.getElementById('delete-form')
            idInput.action = "{% url 'clinic_management:prescription_delete' 0%}".replace(0, id)

        }

    </script>
{% endblock script %}

