{% extends "base.html" %}

{% block content %}
<div>
    {% if message != None %}
        <div>{{ message.text }}</div>
    {% endif %}




    <div class="container d-flex justify-content-center">
        <div class="card ml-8 w-100 p-3">
            <div class="card-header">
              <h3 class="text-center">PAYMENT</h3> 
            </div>
            <div class="card-body">
                <div>
                  <h4>
                    Pleasant to choose the first choice for paying
                  </h4>
                  <p>
                    A blockchain is a type of distributed ledger technology (DLT) that consists of growing list of records, called blocks, that are securely linked together using cryptography.[1][2][3][4] Each block contains a cryptographic hash of the previous block, a timestamp, and transaction data (generally represented as a Merkle tree, where data nodes are represented by leaves). The timestamp proves that the transaction data existed when the block was created. Since each block contains information about the previous block, they effectively form a chain (compare linked list data structure), with each additional block linking to the ones before it. Consequently, blockchain transactions are irreversible in that, once they are recorded, the data in any given block cannot be altered retroactively without altering all subsequent blocks.
                  </p>
                </div>
                <div class="container d-flex justify-content-between">                    
                    <div class ='selection-card'>
                      <div>
                        <img src="https://th.bing.com/th/id/OIP.r7Y20ZEwqwiNyYUAmAijYgHaE8?pid=ImgDet&rs=1" width="300" height="300">
                      </div>
                      <a href="{% url 'clinic_management:medicine_create' %}" class="btn btn-warming btn-round">CREDIT PAGE</a>
                    </div>

                    <div class = 'selection-card'>
                      <div>
                        <img src = 'https://th.bing.com/th/id/OIP.r-EQ5TdNAgrwKQ308M6qTgHaEK?pid=ImgDet&rs=1' width = '300' height = '300'>
                      </div>
                      <a href="{% url 'clinic_management:medicine_create' %}" class="btn btn-warming btn-round">DEBIT PAGE</a>
                    </div>
            </div>
        </div>
    </div>

</div>  
{% endblock %}
